<ul class="social-list">
  <li> Share article on : </li>
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" target="_blank" class="social-list__item social-list__item--facebook">
    <i class="icon icon--facebook"></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" target="_blank" class="social-list__item social-list__item--twitter">
    <i class="icon icon--twitter"></i>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/share?url={{ site.url }}{{site.baseurl}}{{ page.url }}" target="_blank" class="social-list__item social-list__item--google-plus">
    <i class="icon icon--google-plus"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.desc }}&source=agiliq.com" target="_blank" class="social-list__item social-list__item--linkedin">
    <i class="icon icon--linkedin"></i>
    </a>
  </li>
  <li>
    <a href="http://www.reddit.com/submit?url={{ site.url }}{{site.baseurl}}{{ page.url }}" target="_blank" class="social-list__item social-list__item--reddit">
    <i class="icon icon--reddit"></i>
    </a>
  </li>
</ul>