---
layout: default
---
{{ content }}

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="callout callout--success">
    <p>Thank you for reading the Agiliq blog. This article was writen by {{ page.author }} on {{ page.date | date: date_format }} in
        {% for category in page.categories %}
          <a href="{{ site.baseurl}}/categories/#{{category|slugize}}" rel="nofollow">{{category}}</a>
      {% unless forloop.last %},&nbsp;{% endunless %}
      {% endfor %}.
    </p>
    <p>You can <a href="/feed.xml">subscribe ⚛ to our blog</a>.</p>

    <p>We love building amazing apps for web and mobile for our clients. If you are looking for development help, <a href="/contact/">contact us today ✉</a>.</p>
</div>

<div class="callout callout--success">
  <p>
    Would you like to download 10+ free Django and Python books?
    <a href="https://books.agiliq.com" target="_blank">
      Get them here
    </a>
  </p>
  <a href="https://books.agiliq.com" target="_blank">
    <img src="/assets/images/book-covers-merged.png" />
  </a>
</div>
<!-- json+ld -->
{%
  include structured_data/post.html
  headline=page.title
  genre=page.main_category
  keywords=page.keywords
  content=page.content
  link=page.permalink
  date=page.date
  author=page.author
  description=page.description
  image_url=page.image_url
%}
