.hero-subheader {
    color: #ffffff;

}

.green .hero-subheader {
    background: linear-gradient(114.1501577486589deg, rgba(24, 178, 184,1) 4.929614181438999%,rgba(22, 65, 204,1) 97.83889468196037%);

}


.site-header {
    border-bottom: 1px solid rgba(213, 225, 241, 0.15);
}

.site-header__logo {
    color: #ffffff;
    
    &:hover, &:focus, &:active {
        color: #ffffff;
        opacity: 0.9;
    }
}

.site-header__nav {
    color: #ffffff;
}

.site-header__nav a:hover, .site-header__nav a:focus, .site-header__nav a:active {
    border-color: #ffffff;
}

.card {
    display: block;
    background: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.04);
    transition: .2s;
    &:hover {
        -webkit-transform: translateY(-2px) scale(1.01);
        -ms-transform: translateY(-2px) scale(1.01);
        transform: translateY(-2px) scale(1.01);
        box-shadow: 2px 4px 9px 1px rgba(0,0,0,0.07), 0 1px 1px rgba(0,0,0,0.05);
        
    }
}



.border {
    border: 1px solid rgba(0,0,0,0.07);
}

.gap {
    margin-bottom: 2em;
}


.text-white {
    color: white !important;
}

.btn-grad {
    background: linear-gradient(to right, #F45C43 0%, #EB3349 100%);     
}
.btn-grad:hover { 
    background: #f6d000;
    color: #fff ;
}

.books {
    
}

.clients {
    padding: 4rem 0;
    background-color: white;
}


.section-header {
    border: none;
    text-align: center;
    margin-bottom: 2em;
}

.clients-card {
/*     position: relative; */
}

.card-description {
    padding: 1em;

}

.book-title {
    margin: 0;
    line-height: 1.8;
    font-weight: bold;
}

.client-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 60px;
    width: 150px;
/*     border-radius: 50%;
    border: 3px solid rgba(158, 164, 171, 0.2); */
}
.client-footer {
/*     position: absolute;
    bottom: 0; */
    h5, h6 {
        margin: 0;
    }
}
.logo-holder {
    width: 150px;
/*     margin: 0 auto;
    margin-top: 1.5em; */
}

@mixin skew {
     position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 200px;
        -webkit-transform: skewY(-3deg);
        -ms-transform: skewY(-3deg);
        transform: skewY(-3deg);
        top: -120px;
        z-index: 1;
 
    }
}

.skew {
 @include skew;
    &:before {
      background: white;  
      @include media-query($on-palm) {
                height: 90px;
                top: -40px;
            }  
    }
}



.section-nav {
    margin-bottom: 6em;
}

.padding-14 {
    padding: 10em 0;
        @include media-query($on-palm) {
            padding: 4em 0;
        }

}

.bg {
    background-color: lighten($brand-color, 30%);
}
.bg-2 {
    background-color: darken($brand-color, 5%);
}

.dark-bg {
    background-color: darken($brand-color, 30%);
}

.site-footer {

    
    hr {
        border-color: white;
    }
    
    .social-list__item {
        color: white;
    }

}

.footer-links {
    list-style: none;
    text-align: center;
    font-size: $small-fs;

    @include media-query($on-palm) {
        text-align: left;
        margin-bottom: 2em;
       
    }    
    
    li {
        margin: 0;
        padding: 0;
        
        @include media-query($on-palm) {
            margin: 0;
            padding: 0;
        }
        
        
        &:before {
            content: "";
        }
        
        a {
            text-decoration: none;
            color: white;
            border: none;
            &:hover {
                opacity: 0.9;
            }
        }
    }
    
}

.pt-0 {
    padding-top: 0;
}

.btn-big {
    width: 100%;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
}

.site-footer__logo {
    color: white;
    &:hover {
        opacity: 0.9;
    }
}